<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Tri Waluyono - r1012723 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/img/style.css"/>
    <title>Theme Park App</title>
</head>
<body>
<h2>New visitor registration.</h2>

<form action="/visitordetails">
    <p>
       <label for="firstName">First name</label>
       <input type="text" name="firstName" id="firstName">
    </p>
    <p>
        <label for="surName">Surname</label>
        <input type="text" name="surName" id="surName">
    </p>
    <p>
        <label for="yearOfBirth">Year of birth</label>
        <input type="text" name="yearOfBirth" id="yearOfBirth">
    </p>
    <p th:each="themepark : ${themeparks}">
        <label th:text="${themepark.getName()}"/>
        <input type="radio" name="parknumber" th:value="${themeparkStat.index}" th:checked="${themeparkStat.index} == 0">
    </p>
    <button type="submit" name="submit" value="select">Continue and generate theme park code</button>
</form>
<br>
<p><a href="/">Back to home page</a></p>



</body>
</html>