<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Tri Waluyono - r1012723 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/img/style.css"/>
    <title>Theme Park App</title>
</head>
<body>

<h2>New Staff Member</h2>

<form action="/staffdetails">

    <label for="firstName">First name:</label><br>
    <input type="text" id="firstName" name="firstName"><br><br>

    <label for="surName">Surname:</label><br>
    <input type="text" id="surName" name="surName"><br><br>

    <label for="employedSince">Employed since (dd/MM/yyyy):</label><br>
    <input type="text" id="employedSince" name="employedSince"><br><br>

    <label for="isStudent">Working student?</label>
    <input type="checkbox" id="isStudent" name="isStudent" value="true"><br><br>

    <button type="submit" name="submit" value="submit staff">Confirm staff member</button>
</form>

<br>
<a href="/">Back to home page</a>

</body>
</html>