<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Tri Waluyono - r1012723 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/img/style.css"/>
    <title>Theme Park App</title>
</head>
<body>
<h2>Our Visitors:</h2>


<div th:each="visitor, stat : ${visitorlist}">
    <p th:text="${stat.index + 1} + '. ' + ${visitor.firstName} + ' ' + ${visitor.surName}"></p>
    <ul>
        <li>year of birth: <span th:text="${visitor.yearOfBirth}"></span></li>
        <li>park code: <span th:text="${visitor.themeParkCode}"></span></li>
        <li>wish list:
            <ul th:each="wish : ${visitor.wishList}">
                ■ <span th:text="${wish}"></span>

            </ul>
        </li>
    </ul>
</div>
<br>
<a href="/">Back to home page</a>

</body>
</html>