<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Tri Waluyono - r1012723 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/img/style.css"/>
    <title>Theme Park App</title>
</head>
<body>
<form action="/newthemepark">
    <p>
        <label for="name">Name theme park</label>
        <input type="text" name="name" id="name">
    </p>
    <button type="submit" name="submit" >Confirm theme park</button>

</form>
<br>
<p><a href="/">Back to home page</a></p>
</body>
</html>