<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Tri Waluyono - r1012723 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/img/style.css"/>
    <title>Theme Park App</title>
</head>
<body>
<h2>New attraction.</h2>

<form action="/attractiondetails">
    <p>
        <label for="name">Name attraction: </label>
        <input type="text" name="name" id="name">
    </p>
    <p>
        <label for="duration">Duration: (in sec)</label>
        <input type="number" name="duration" id="duration">
    </p>
    <p>
        <label for="photo">Photo: </label>
        <input type="text" name="photo" id="photo">
    </p>
    <p>
        <label></label>
        <select name="themepark">
            <option value="-1">In wich theme park?</option>
            <option th:each="themepark : ${themeParkArrayList}"
                    th:text="${themeparks.getName()}"
                    th:value="${themeParkStat.index}"/>
        </select>
    </p>
    <p>
        <select name="responsibleStaff">
            <option value="_1">Who is responsibele for this attraction?</option>
            <option th:each="staff : ${staffArrayList}"
                    th:value="${staff.firstName} + ' ' + ${staff.surName}"
                    th:text="${staff.firstName} + ' ' + ${staff.surName}">

            </option>
        </select>
    </p>
    <button type="submit" >Confirm attraction</button>
</form>

<br>
<a href="/">Back to home page</a>
</body>
</html>