<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Tri Waluyono - r1012723 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/img/style.css"/>
    <title>Theme Park App</title>
</head>
<body>
    <h2>Theme Park App</h2>
    <h3>Developed by Tri Waluyono - r1012723</h3>
    <ul>
        <li><p><a href="1_newvisitor.html">New Visitor</a></p></li>
        <li><p><a href="3_newstaff.html">New staff member </a></p></li>
    </ul>

</body>
</html>